<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
      <mat-icon>school</mat-icon>
      <span style="margin: 15px">Creative learning</span>
    </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
    <button *ngIf="userIsAuthenticated" mat-button [matMenuTriggerFor]="register">Rregjistro</button>
    <mat-menu #register="matMenu">
      <button mat-menu-item routerLink="/signupStudent" routerLinkActive="mat-accent">
        Rregjistro Student
      </button>
      <button mat-menu-item routerLink="/signupLecturer" routerLinkActive="mat-accent">
        Rregjistro Pedagog
      </button>
      <button mat-menu-item routerLink="/course" routerLinkActive="mat-accent">
         Kurset
      </button>
    </mat-menu>
</mat-toolbar>
