<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
      <mat-icon>school</mat-icon>
      <span style="margin: 15px">Creative learning</span>
    </a>
  </span>
  <span class="spacer"></span>
  <ul *ngIf="authService.user; else toolbarNotLogged">
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!isStudent">
      <button mat-button routerLink="/userList" routerLinkActive="mat-accent">Register</button>
    </li>
    <li>
      <button mat-button routerLink="courses" routerLinkActive="mat-accent">Courses</button>
    </li>
    <li>
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
  <ng-template #toolbarNotLogged>
    <ul>
      <li>
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li>
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
    </ul>
  </ng-template>
<!--    <button *ngIf="userIsAuthenticated" mat-button [matMenuTriggerFor]="register">Rregjistro</button>-->
<!--    <mat-menu #register="matMenu">-->
<!--      <button mat-menu-item routerLink="/studentList" routerLinkActive="mat-accent">-->
<!--        Rregjistro Student-->
<!--      </button>-->
<!--      <button mat-menu-item routerLink="/lecturerList" routerLinkActive="mat-accent">-->
<!--        Rregjistro Pedagog-->
<!--      </button>-->
<!--    </mat-menu>-->
<!--    <button *ngIf="userIsAuthenticated" mat-button routerLink="/courses" routerLinkActive="mat-accent">-->
<!--    Kurset-->
<!--    </button>-->
</mat-toolbar>
