mat-form-field {
  width: 100%;
}

.showError {
  margin: auto;
  width: 500px;
  color: white;
  background-color: red;
  height: 40px;
  padding: 5px 8px;
}

mat-card {
  max-width: 500px;
  padding: 35px;
  margin: 20px auto;
}
