<div class="showError"
     *ngIf="authService.loginError"
     fxLayout="row"
     fxLayoutAlign="start center">
  <mat-icon>error_outline</mat-icon>
  <span style="margin-left: 10px">Username or password are incorrect</span>
</div>

<mat-card>
  <h2 style="text-align: center">Login</h2>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="Email"
        #emailInput="ngModel"
        required
        email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        name="password"
        matInput
        type="password"
        ngModel
        [type]="hide ? 'password' : 'text'"
        #passwordControl="ngModel"
        placeholder="Password"
        required
      >
      <button type="button"
              mat-icon-button matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>
          {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
      <mat-error *ngIf="passwordControl.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="loginForm.invalid"
    >Login</button>
  </form>
</mat-card>
