mat-card {
  max-width: 500px;
  margin: 40px auto;
}
.expiredPasswordButton {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.expiredPasswordForm {
  height: 300px;
  width: 400px;
}
.mat-form-field {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

button {
  width: 100%;
  color: #5A79B5;
}

.backButton {
  margin: 15px 0;
}
.titleType {
  margin-top: 10px !important;
  color: dimgrey;
  font-size: 18px;
  font-weight: 500;
}
