<mat-card fxLayout="column" fxLayoutAlign="space-around center">
  <div class="titleType">Change Password</div>
  <mat-card-content fxLayoutAlign="center">
    <form #expiredPassword="ngForm" class="expiredPasswordForm" (click)="onSubmit(expiredPassword)">
      <div>
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input
            #newPasswordControl
            #newPw="ngModel"
            matInput
            [type]="newPwHide ? 'password' : 'text'"
            name="newPassword"
            type="password"
            minlength="8"
            id="newPassword"
            required
            [(ngModel)]="newPassword"
            (ngModelChange)="onPasswordChange(expiredPassword)"
            [pattern]="passwordPattern"
            placeholder="Enter your new password"
            autocomplete="password">
          <button type="button"
                  mat-icon-button matSuffix
                  (click)="newPwHide = !newPwHide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="newPwHide">
            <mat-icon>
              {{newPwHide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
          <mat-error *ngIf="newPw.hasError('pattern')">
            Min. 8 chars, 1 between !$%&?@#, 1 num and 1 capital letter
          </mat-error>
          <mat-hint>
            Min. 8 chars, 1 between !$%&?@#, 1 num and 1 capital letter
          </mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>
            Confirm New Password
          </mat-label>
          <input
            #confirmPw="ngModel"
            matInput
            [type]="confirmPwHide ? 'password' : 'text'"
            name="confirmPassword"
            type="password"
            id="confirmPassword"
            minlength="8"
            [(ngModel)]="confirmPassword"
            (ngModelChange)="onPasswordChange(expiredPassword)"
            [pattern]="passwordPattern"
            placeholder="Confirm your new password"
            autocomplete="password"
            required
          >
          <button type="button"
                  mat-icon-button matSuffix
                  (click)="confirmPwHide = !confirmPwHide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="confirmPwHide">
            <mat-icon>
              {{confirmPwHide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
          <mat-error *ngIf="confirmPw.touched && confirmPw.invalid">
            {{getPasswordError(confirmPw)}}
          </mat-error>
        </mat-form-field>
      </div>
      <div mat-dialog-actions class="expiredPasswordButton">
        <button type="submit" color="primary" mat-raised-button
                [disabled]="expiredPassword.invalid">
          Confirm
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <button color="white" mat-raised-button class="backButton" (click)="onExit()">
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
