
mat-card {
  max-width: 500px;
  padding: 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;

  mat-form-field {
    width: 100%;
  }
  button {
    background-color: #6b6dc7;
    color: white;
    width: 100%;
  }
}
