<mat-card>
  <mat-card-header>
    <mat-card-title>
      Create quiz
    </mat-card-title>
    <mat-icon
      matTooltip="Save quiz"
      (click)="save()"
      class="save-icon">
      save
    </mat-icon>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Quiz title</mat-label>
        <input
          matInput
          name="quizTitle"
          type="text"
          [(ngModel)]="title"
          #quizTitle="ngModel"
          placeholder="Quiz title"
          required>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Add new question</mat-panel-title>
      <mat-panel-description style="justify-content: flex-end">
        <mat-icon>add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <form #createQuestion="ngForm" (ngSubmit)="addQuestion(createQuestion)">
        <div mat-dialog-content>
          <mat-form-field appearance="fill">
            <input
              matInput
              name="questionTopic"
              ngModel
              type="text"
              placeholder="Question topic"
              #questionTopic="ngModel"
              required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <textarea
              matInput
              rows="3"
              name="question"
              ngModel
              placeholder="Question"
              #questionInput="ngModel"
              required
            ></textarea>
          </mat-form-field>
        </div>
        <mat-action-row>
          <button mat-button color="primary" type="submit">Add</button>
        </mat-action-row>
      </form>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel *ngFor="let question of dataSource | async; index as i" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="counter">#{{i + 1}}</span>
        {{question.question}}
      </mat-panel-title>
      <mat-panel-description style="justify-content: flex-end">
<!--        <div style="display: flex; flex-direction: column; justify-content: center">-->
<!--          <mat-icon>arrow_drop_up</mat-icon>-->
<!--          <mat-icon>arrow_drop_down</mat-icon>-->
<!--        </div>-->
        <mat-icon class="action-icon" (click)="removeQuestion(i)">delete</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      {{question.questionTopic}}
    </ng-template>
  </mat-expansion-panel>

  <!-- TODO remove test -->
<!--  <mat-expansion-panel hideToggle>-->
<!--    <mat-expansion-panel-navigator>Test 2</mat-expansion-panel-navigator>-->
<!--    Content-->
<!--  </mat-expansion-panel>-->
</mat-accordion>
