.firstFormGroup {
  max-width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

  mat-card {
    width: 90%;
    margin: 1rem;
    .mat-form-field {
      margin-top: 16px;
      width: 100%;
    }
    mat-card-header {
      .save-icon {
        position: relative;
        display: flex;
        left: 965px;
        font-size: 28px;
        cursor: pointer;
      }
    }
  }

  mat-expansion-panel {

    mat-form-field{
      width: 100%;
    }
    margin-left: 20px;
    width: 90%;
    mat-expansion-panel-header {
      mat-panel-title {
        font-weight: 500;
        .counter {
          color: lightgrey;
          width: 45px;
        }
      }
    }

    .action-icon:not(:hover) {
      opacity: 0.5;
    }

    &.mat-expanded {
      .action-icon {
        opacity: unset;
      }
    }
  }
