 <h2 style="text-align: center">Signup</h2>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <div mat-dialog-content>
      <mat-form-field>
        <input
          matInput
          name="firstName"
          ngModel
          type="text"
          placeholder="First name"
          #firstName="ngModel"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="lastName"
          ngModel
          type="text"
          placeholder="Last name"
          #lastName="ngModel"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="email"
          ngModel
          type="email"
          placeholder="Email"
          #emailInput="ngModel"
          required
          email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          name="password"
          matInput
          type="password"
          ngModel
          [type]="hidePass ? 'password' : 'text'"
          [pattern]="passwordPattern"
          #passwordControl="ngModel"
          placeholder="Password"
          required
        >
        <button type="button"
                mat-icon-button matSuffix
                (click)="hidePass = !hidePass"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePass">
          <mat-icon>
            {{hidePass ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
        <mat-error *ngIf="passwordControl.hasError('pattern')">
          Min. 8 chars, 1 between !$%&?@#, 1 num and 1 capital letter
        </mat-error>
        <mat-hint>
          Min. 8 chars, 1 between !$%&?@#, 1 num and 1 capital letter
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input
          name="confirmPassword"
          matInput
          type="password"
          ngModel
          [type]="hideRepeatPass ? 'password' : 'text'"
          [pattern]="passwordPattern"
          #confirmPasswordControl="ngModel"
          (ngModelChange)="onConfirmPassword()"
          placeholder="Confirm password"
          required
        >
        <button type="button"
                mat-icon-button matSuffix
                (click)="hideRepeatPass = !hideRepeatPass"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideRepeatPass">
          <mat-icon>
            {{hideRepeatPass ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
        <mat-error *ngIf="confirmPasswordControl.touched && confirmPasswordControl.invalid">
          {{getConfirmPasswordErrorDescription(confirmPasswordControl)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select your position</mat-label>
        <mat-select [(ngModel)]="userType" name="userType">
          <mat-option *ngFor="let userType of userTypes" [value]="userType.id">
            {{userType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          name="faculty"
          matInput
          type="text"
          ngModel
          #faculty="ngModel"
          placeholder="Faculty"
          required
        >
      </mat-form-field>
      <mat-form-field *ngIf="userType==='S'">
        <input
          name="studyProgramme"
          matInput
          type="text"
          ngModel
          #studyProgramme="ngModel"
          placeholder="Study programme"
          required
        >
      </mat-form-field>
      <mat-form-field *ngIf="userType==='S'">
        <mat-label>Cikli i studimeve</mat-label>
        <mat-select [(ngModel)]="studyCycle" name="studyCycle">
          <mat-option
            *ngFor="let option of studyCycleOptions"
            [value]="option">{{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="userType==='S'">
        <mat-label>Viti i regjistrimit</mat-label>
        <input
          type="date"
          matInput
          name="registrationDate"
          ngModel
          #registrationDate="ngModel"
        >
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="button">
      <button mat-raised-button type="submit" [disabled]="!signupForm.valid">Signup</button>
    </div>
  </form>
