<mat-card>
  <form (submit)="onAddPost(postForm)"
        #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        ngModel
        name="title"
        required
        placeholder="Post title"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">PLease enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        #content="ngModel"
        ngModel
        name="content"
        placeholder="Post content"
        required>
      </textarea>
      <mat-error *ngIf="content.invalid">PLease enter a post content</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="primary">
      Save Post
    </button>
  </form>
</mat-card>
