.mat-elevation-z4 {
  width: 90%;
  margin: 30px auto;

  :host {
    table {
      width: 100%;
      table-layout: auto;

      td.actions, th.actions {
        width: 30px;
        cursor: pointer;
      }
    }
  }
}
mat-icon {
  cursor: pointer;
}
