.mat-elevation-z4 {
  width: 90%;
  margin: 30px auto;
}

:host {
  table {
      .timer-class {
        //margin-left: 100px;
        //display: flex;
        //align-items: flex-end;
        //flex-direction: row;
        float: right;
        margin-right: 50px;
      }

    .actions {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      mat-icon {
        cursor: pointer;
      }
      .timer-icon {
        margin-right: 40px;
      }
    }
  }
}
