.firstFormGroup {
  max-width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

mat-card {
  width: 90%;
  margin: 1rem;

  .mat-form-field {
    margin-top: 16px;
    width: 100%;
  }

  mat-card-header {
    display: block;
  }

  mat-card-title {
    display: flex;
    & > span {
      flex: 1 0 auto;
    }
    //.save-icon {
    //  position: relative;
    //  display: flex;
    //  left: 965px;
    //  font-size: 28px;
    //  cursor: pointer;
    //}
  }
}

.time-inputs {


  mat-form-field:first-child {
    padding-right: 10px;
  }

  .ngx-material-timepicker-toggle svg{
    height: 16px !important;
  }
}

mat-expansion-panel {
  mat-form-field {
    width: 100%;
  }

  margin-left: 20px;
  width: 90%;

  mat-expansion-panel-header {
    mat-panel-title {
      font-weight: 500;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .counter {
        color: lightgrey;
        width: 45px;
      }

      .title {
        flex-grow: 1;
      }
    }
  }

  .action-icon:not(:hover) {
    opacity: 0.5;
  }

  &.mat-expanded {
    .action-icon {
      opacity: unset;
    }
  }

  .options-form {
    display: flex;
    flex-direction: row;

    button {
      margin-bottom: 18px;
      margin-left: 30px;
      height: 50px;

      mat-icon {
        font-size: 20px;
        color: dimgray;
      }
    }
  }

  .options-container {
    margin: 1rem 0;
    border-radius: 16px;
    padding: 0.5rem;
    border: 1px solid #eaeaea;
    background: #f8f8f0;
    padding-top: 0.9rem;
  }

  .options-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.5rem;

    & > span {
      flex-grow: 1;
    }

    & > .icon {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: lightgrey;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.5rem;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.correct {
        background-color: #8f8;
      }
    }

    button[mat-mini-fab] {
      background-color: lightgrey;

      &.correct {
        background-color: #8f8;
      }
    }
  }
}

.radio-icon {
  width: 22px;
  height: 22px;
  border: 4px solid lightgrey;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1rem;

  & > div {
    width: 8px;
    height: 8px;
    background-color: lightgrey;
    border-radius: 50%;
    position: relative;
    top: 3.5px;
    left: 3.5px;
  }
}
