<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    opened>
    <mat-toolbar fxLayout="row" fxLayoutAlign="start center" class="top-toolbar">
      <mat-icon class="logo">school</mat-icon>
      <span class="app-name">Creative learning</span>
    </mat-toolbar>
    <mat-nav-list *ngIf="authService.user">
      <a mat-list-item routerLink="/userList" *ngIf="!isStudent">
        <mat-icon>person_add</mat-icon>
        Register
      </a>
      <a mat-list-item routerLink="courses">
        <mat-icon>groups</mat-icon>
        Courses
      </a>
      <a mat-list-item routerLink="/user-profile">
        <mat-icon>person_outline</mat-icon>
        User Profile
      </a>
    </mat-nav-list>
    <div class="footer-logout">
      <div class="logout-button" (click)="onLogout()" style="cursor: pointer">
        <mat-divider class="divider"></mat-divider>
        <mat-icon class="logout-icon">logout</mat-icon>
        <a style="position: fixed; margin:3px; font-size: 18px; font-weight: 500">
          logout
        </a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer?.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="app-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
