/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ebecfb;
}

tr[mat-row] {
  .show-on-hover {
    visibility: hidden;
  }

  &:hover {
    .show-on-hover {
      visibility: visible;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

ngx-material-timepicker-container {
  position: relative;
  z-index: 1000;

  input {
    font-size: 50px !important;
  }

  ngx-material-timepicker-content {
    header {
      padding-bottom: 10px !important;
      padding-top: 10px !important;
    }

    .timepicker__body {
      padding: 15px 0 10px 0 !important;
    }

    .timepicker__actions {
      padding-top: 0 !important;
    }

    div.smallerOne {
      width: 275px !important;

      .timepicker__body {
        padding: 0 !important;

        div {
          background: transparent !important;
        }
      }

      .timepicker__actions {
        padding-right: 0 !important;
      }
    }
  }
}

mat-form-field.time-picker-field {
  .mat-form-field-infix {
    display: flex;
    padding: 0;
  }
}

ngx-material-timepicker-toggle {
  button {
    width: 25px;

    svg {
      fill: #757575;
    }
  }
}

