<div *ngIf="isStudent" class="message-noQuestions">
  <div># of questions to open: {{quiz.numQuestions}}</div>
<!--  <div>You complete {{completed}} % of quiz</div>-->
</div>
<div *ngIf="isStudent; else studentsListTemplate" class="progress-container">
  <mat-progress-bar mode="determinate" [value]="completed"></mat-progress-bar>
</div>

<ng-template #studentsListTemplate>
  <div class="students-list">
    <div *ngIf="isQuizStarted; else startQuizTemplate" fxLayout="column" fxLayoutAlign="start stretch">
      <h2>Students List</h2>
      <mat-selection-list #studentsList [multiple]="false" (selectionChange)="onSelectStudent($event)" fxFlex="80">
        <mat-list-option *ngFor="let student of course?.students; index as i" [value]="student">
          <div class="student-item">
            <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
              <span>{{student.firstName}} {{student.lastName}}</span>
              <span style="font-size: 13px">answered {{numberOfQuestionsCompleted(student._id)}} / {{quiz.numQuestions}}</span>
            </div>
            <mat-icon (click)="onReview(i)" [class.review-quiz]="i">
              check_circle
            </mat-icon>
            <mat-icon *ngIf="isCompletingQuiz(quiz._id)">history</mat-icon>
          </div>

          <!--        <mat-icon *ngIf="i === 1" style="color: orange">-->
          <!--          priority_high-->
          <!--        </mat-icon>-->
          <!--        <mat-icon class="more-horiz" *ngIf="i === 1">-->
          <!--          more_horiz-->
          <!--        </mat-icon>-->
        </mat-list-option>
      </mat-selection-list>
      <button mat-button color="warn" style="margin: 10px;" (click)="stopQuiz()">End quiz</button>
      <ng-template #stopQuizDialogTemplate>
        Are you sure you want to end this quiz?
        <mat-dialog-actions align="end">
          <button mat-button mat-dialog-close>Cancel</button>
          <button mat-button [mat-dialog-close]="true" cdkFocusInitial>End quiz</button>
        </mat-dialog-actions>
      </ng-template>
    </div>
    <ng-template #startQuizTemplate>
      <button (click)="openStartQuizDialog()" style="margin: 10px;" mat-raised-button color="primary">Start quiz
      </button>
    </ng-template>
  </div>
</ng-template>

<div class="container">
  <ng-container *ngTemplateOutlet="isStudent ? studentView : adminView"></ng-container>
  <ng-template #studentView>
    <div class="row gx-3 gy-3" [class.disabled]="!isDisableQuiz(quiz._id)">
      <div
        *ngFor="let question of dataSource | async; index as i"
        (click)="playGame(question)"
        class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div *ngIf="!question.opened; else openCardTemplate"
             class="card not-open"
             (click)="openQuestion(i)">
          <span class="card-front">{{question.questionTopic}}</span>
          <span class="card-points">({{question.points}} pts)</span>
        </div>

        <ng-template #openCardTemplate>
          <div class="card" tabindex="-1" [ngClass]="getQuestionClassList(question)">
            <span class="card-title">{{question.questionTopic}}
              <span class="card-points" style="font-size: 0.8rem; margin-left: 8px; position: relative; bottom: 1px;">
              ({{displayEvaluateQuestionPoints(question._id)}} pts)
            </span>
            </span>
            <!--            <span class="card-question">{{question.question}}</span>-->
            <div>
              <mat-form-field class="card-question" appearance="outline" fxFlex>
                  <textarea
                    matInput
                    name="question"
                    [disabled]="isStudent"
                    cdkTextareaAutosize
                    ngModel
                    [ngModel]="question.question">
                  </textarea>
              </mat-form-field>
            </div>
            <div class="icon-answer">
              <mat-icon matTooltip="Correct answer" class="icon-answer-correct">check_circle</mat-icon>
              <mat-icon matTooltip="Incorrect answer" class="icon-answer-incorrect">gpp_bad</mat-icon>
              <mat-icon matTooltip="Incorrect answer" class="icon-answer-partial">gpp_bad</mat-icon>
            </div>
            <button
              (click)="postAnswer(i)"
              *ngIf="!question.finished"
              mat-icon-button
              class="send-btn">
              <mat-icon matTooltip="Submit">send</mat-icon>
            </button>

            <ng-container [ngSwitch]="question.type">
              <div class="card-text" *ngSwitchCase="TypeText">
                <form>
                  <mat-form-field appearance="fill">
                    <mat-label>Answer</mat-label>
                    <textarea
                      matInput
                      [(ngModel)]="question.answer"
                      [name]="'answerQuestion' + i"
                      required
                      [matAutosizeMinRows]="2"
                      [matAutosizeMaxRows]="3"
                      [matTextareaAutosize]="true"
                      [disabled]="question.finished || !isStudent"
                    ></textarea>
                  </mat-form-field>
                </form>
              </div>
              <div *ngSwitchCase="TypeSelect">
                <mat-radio-group [(ngModel)]="question.answer" [disabled]="question.finished || !isStudent">
                  <mat-radio-button
                    *ngFor="let option of question.options; index as optionIndex"
                    [value]="optionIndex">{{option}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </ng-container>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>

  <ng-template #adminView>
    <div *ngIf="!quiz.startTime" class="empty-state max-height">
      <span class="title">Nothing to see here :(</span>
      <span class="text">Press "Start quiz" button to begin</span>
    </div>
    <div class="row gx-3 gy-3" [class.disabled]="!isDisableQuiz(quiz._id)">
      <div
        *ngFor="let question of dataSource | async; index as i"
        class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div *ngIf="!question.opened; else openCardTemplate" class="card not-open disabled">
          <span class="card-front">{{question.questionTopic}}</span>
          <span class="card-points">({{question.points}} pts)</span>
        </div>

        <ng-template #openCardTemplate>
          <div class="card disabled" tabindex="-1" [ngClass]="getQuestionClassList(question)">
          <span class="card-title">{{question.questionTopic}}
            <span class="card-points" style="font-size: 0.8rem; margin-left: 8px; position: relative; bottom: 1px;">
              ({{displayEvaluateQuestionPoints(question._id)}} pts)
            </span>
          </span>
            <span class="card-question">{{question.question}}</span>
            <div class="icon-answer">
              <mat-icon matTooltip="Correct answer" class="icon-answer-correct">check_circle</mat-icon>
              <mat-icon matTooltip="Incorrect answer" class="icon-answer-incorrect">gpp_bad</mat-icon>
              <mat-icon matTooltip="Incorrect answer" class="icon-answer-partial">gpp_bad</mat-icon>
            </div>

            <button
              *ngIf="questionNeedsAction(question)"
              (click)="openEvaluateQuestion(question)"
              mat-icon-button
              class="send-btn">
              <mat-icon style="transform: rotate(45deg)" matTooltip="Evaluate">edit</mat-icon>
            </button>

            <ng-container [ngSwitch]="question.type">
              <div class="card-text" *ngSwitchCase="TypeText">
                <form>
                  <mat-form-field appearance="fill">
                    <mat-label>Answer</mat-label>
                    <textarea
                      matInput
                      [ngModel]="question.answer"
                      [name]="'answerQuestion' + i"
                      required
                      [matAutosizeMinRows]="3"
                      [matTextareaAutosize]="true"
                      disabled
                    ></textarea>
                  </mat-form-field>
                </form>
              </div>
              <div *ngSwitchCase="TypeSelect">
                <mat-radio-group [ngModel]="question.answer" disabled>
                  <mat-radio-button
                    *ngFor="let option of question.options; index as optionIndex"
                    [value]="optionIndex">{{option}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </ng-container>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>
</div>
