$cardWidth: 200px;
$cardHeight: 150px;
$cardBackgroundColor: #f6f6fc;
$cardStripeColor: #eaeaef;
$sendButtonColor: #5A79B5;

:host {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;

  &.horizontal {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    .container {
      flex-grow: 1;
      padding: 20px;
    }
  }

  &:not(.horizontal) {
    .container {
      position: absolute;
      top: 24px;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: scroll;
      padding: 0 30px;
      overflow-x: hidden;
      padding-top: 20px;

      .disabled {
        pointer-events: none;
      }
    }
  }

  // TODO better name
  .students-list {
    width: 280px;
    background-color: white;
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    & > div {
      height: 100%;
    }

    h2 {
      align-self: center;
      margin: 10px 0;
    }

    mat-selection-list {
      display: inline;
    }

    mat-list-option {
      display: inline-block;
      width: 100%;
      height: 50px;

      .student-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-right: -10px;

        mat-icon {
          display: none;
        }

        &.in-progress mat-icon.in-progress {
          display: block;
          color: lightgrey;
        }

        &.finished mat-icon.finished {
          display: block;
          color: lightgrey;
        }

        &.evaluated mat-icon.evaluated {
          display: block;
          color: limegreen;
        }

        .score-form {
          display: flex;
          justify-content: flex-end;

          mat-form-field {
            width: 70%;
          }

          button {
            display: flex;
            justify-content: flex-end;

            mat-icon {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

    .more-horiz {
      opacity: initial;
    }
  }

  .progress-container {
    padding: 10px;
    background: #ccd;
  }

  .message-noQuestions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-family: sans-serif;
    background-color: #ccd;
    font-weight: 600;
    margin: 0;
  }

  .card-wrapper {
    perspective: 800px;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: $cardBackgroundColor;
    margin: 20px 4px;
    overflow-x: hidden;
    overflow-y: auto;

    padding: 15px;
    //border-radius: 8px;
    border-radius: 0;
    position: relative;
    height: 230px;
    //width: 150px;
    transform-style: preserve-3d;

    justify-content: flex-start;
    align-items: flex-start;

    &-heading {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 8px;
      white-space: nowrap;

      .card-title {
        flex-grow: 1;
        font-size: 1rem;
        font-weight: 550;
        color: dimgray;
        margin-bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .icon-answer mat-icon {
        display: none;
      }

      .icon-answer {
        position: relative;
        bottom: 2px;
        margin-left: 3px;

        &-correct {
          color: limegreen;
        }

        &-incorrect {
          color: red;
          font-size: 26px;
        }

        &-partial {
          color: orange;
          font-size: 26px;
        }
      }

      .send-btn {
        position: relative;
        bottom: 1px;
        left: 7px;
        line-height: 24px;
        width: unset;
        height: unset;
        //position: absolute;
        //top: 0px;
        //right: 10px;


        mat-icon {
          //position: relative;
          //bottom: 2px;
          //left: 2px;
          color: lightgrey;
          //margin-left: 18px;
          //margin-top: 18px;
        }

        &:hover, &:active {
          mat-icon {
            color: $sendButtonColor;
            cursor: pointer;
          }
        }
      }
    }

    &.correct {
      border-color: #080;

      .icon-answer .icon-answer-correct {
        display: block;
      }

      .card-points {
        color: #080;
      }
    }

    &.incorrect {
      border-color: red;

      .card-points {
        color: red;
      }

      .icon-answer .icon-answer-incorrect {
        display: block;
      }
    }

    &.partial {
      border-color: orange;

      .card-points {
        color: orange;
      }

      .icon-answer .icon-answer-partial {
        display: block;
      }
    }

    &.not-open {
      justify-content: center;
      align-items: center;

      &:not(.disabled) {
        cursor: pointer;
      }

      & .card-points {
        position: absolute;
        top: 8px;
        right: 16px;
      }

      background: linear-gradient(
          45deg,
          $cardStripeColor 10%,
          $cardBackgroundColor 10%,
          $cardBackgroundColor 40%,
          $cardStripeColor 40%,
          $cardStripeColor 60%,
          $cardBackgroundColor 60%,
          $cardBackgroundColor 90%,
          $cardStripeColor 90%
      );
      background-size: 100px 100px;
      background-position: 50px 50px;
    }

    &-front {
      font-size: 1.5rem;
      font-weight: 500;
      color: #668;
    }

    &-question {
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
      color: #666688;
      display: flex;
      width: 100%;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &-text {
      flex-grow: 1;
      width: 100%;
      display: flex;
      justify-content: center;

      form {
        width: 100%;
        margin-top: 10px;
        position: relative;
        bottom: 0;

        mat-form-field {
          width: 100%;

          textarea {
          }
        }
      }
    }

    mat-divider {
      width: 100%;
      margin-top: 4px;
    }

    mat-radio-group {
      mat-radio-button {
        display: block;
        margin: 0.4rem 0.5rem;
      }
    }
  }

  .front {
    background-color: #d5c9df;
  }

  div ::-webkit-scrollbar {
    width: 5px;
    overflow-y: scroll;
    background: lightgrey;
    box-shadow: inset 0 0 4px #707070;
  }

  div ::-webkit-scrollbar-thumb {
    //background: $sendButtonColor;
    background: #999;
    //border-radius: 10px;
  }
}

