<div class="progress-container">
  <mat-progress-bar mode="determinate" [value]="completed"></mat-progress-bar>
</div>

<div class="container">
  <div class="row gx-3 gy-3">
    <div
      *ngFor="let question of dataSource | async; index as i"
      (click)="playGame(question)"
      class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div *ngIf="!question.opened; else openCardTemplate" class="card not-open" (click)="openQuestion(i)">
        <span class="card-front">{{question.questionTopic}}</span>
      </div>

      <ng-template #openCardTemplate>
        <div class="card" tabindex="-1">
          <span class="card-title">{{question.questionTopic}}</span>
          <span class="card-question">{{question.question}}</span>

          <button (click)="postAnswer(i)" [disabled]="question.finished" mat-icon-button class="send-btn">
            <mat-icon matTooltip="Submit">send</mat-icon>
          </button>

            <ng-container [ngSwitch]="question.type">
              <span class="card-text" *ngSwitchCase="TypeText">
                <form>
                  <mat-form-field appearance="fill">
                  <mat-label>Answer</mat-label>
                  <textarea
                    matInput
                    [(ngModel)]="question.answer"
                    [name]="'answerQuestion' + i"
                    required
                    [matAutosizeMinRows]="3"
                    [matTextareaAutosize]="true"
                    [disabled]="question.finished"
                    ></textarea>
                  </mat-form-field>
                </form>
              </span>
              <div *ngSwitchCase="TypeSelect">
                <mat-radio-group [(ngModel)]="question.answer" [disabled]="question.finished">
                  <mat-radio-button
                    *ngFor="let option of question.options; index as optionIndex"
                    [value]="optionIndex">{{option}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </ng-container>
        </div>
      </ng-template>
    </div>
  </div>
</div>
