<div class="action-icon">
  <span>Create a new course
    <mat-icon [routerLink]="'/quiz'" class="action-icon">add</mat-icon>
  </span>
</div>

<mat-card *ngFor="let quiz of dataSource | async; index as i" class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>
      {{quiz.title}}
    </mat-card-title>
    <mat-icon [routerLink]="['/quizEdit', quiz._id]">edit</mat-icon>
    <mat-icon matTooltip="Delete quiz" (click)="delete(quiz._id)">delete</mat-icon>
  </mat-card-header>
</mat-card>
