<div class="action-icon">
  <span>Create a new course
    <mat-icon routerLink="new" class="action-icon">add</mat-icon>
  </span>
</div>

<mat-card *ngFor="let quiz of dataSource | async; index as i" class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>
      {{quiz.title}}
    </mat-card-title>
    <mat-icon [routerLink]="['./', quiz._id]">edit</mat-icon>
    <button mat-mini-fab matTooltip="Delete quiz" (click)="delete(quiz._id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
</mat-card>
